@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #004f58;
  --color-secondary: #022e35;
  --color-accent: #ee8080;
  --color-heading: #fafcfc;
  --color-body: #79c9c4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* 62.5% x 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-body);
  font-family: "Reem Kufi Fun", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-size: 4.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

a {
  text-decoration: none;
}

/* Text */
.text--accent {
  color: var(--color-accent);
}

.text--normal {
  color: var(--color-heading);
  line-height: 25px;
}

/* Button*/
.btn {
  white-space: nowrap;
}

.btn--primary-outline {
  background-color: var(--color-primary);
  border: 1px solid var(--color-heading);
  border-radius: 20px;
  color: var(--color-heading);
  padding: 10px 20px;
}

.btn--primary-outline:hover,
.btn--primary-outline:focus {
  background-color: var(--color-heading);
  color: var(--color-primary);
  cursor: pointer;
}

/* Menu */
.menu {
  display: flex;
  flex-grow: 2;
  gap: 3rem;
  align-self: center;
}

.menu__item {
  color: var(--color-heading);
}

.menu__item:hover,
.menu__item:focus {
  color: var(--color-body);
}

/* Logo */
.logo--text {
  color: var(--color-heading);
  font-size: 4rem;
}

@media screen and (min-width: 768px) {
  .logo--text {
    font-size: 3.5rem;
  }
}

/* Line */
.line {
  display: block;
  height: 4px;
  width: 50px;
}

.line--normal {
  background-color: var(--color-body);
}

.line--accent {
  background-color: var(--color-accent);
}

/* icon-list */
.icon-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.icon-list__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon-list__item .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  min-height: 60px;
  margin: auto;
  position: relative;
  min-width: 60px;
}

.icon-list__item .icon__content {
  font-size: 5rem;
  left: -15px;
  position: absolute;
  top: -5px;
}

.icon-list__item .item-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon-list__item .item-content .title {
  color: var(--color-accent);
  font-size: 1.8rem;
  font-weight: 600;
}

.icon-list__item .item-content .description {
  margin: auto;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .icon-list {
    align-items: flex-start;
  }

  .icon-list__item {
    flex-direction: row;
  }

  .icon-list__item .item-content {
    text-align: left;
  }

  .icon-list__item .item-content .description {
    max-width: 512px;
  }
}
